@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

[data-tooltip]:before {  
  font-size: small;
  position : absolute;
   content : attr(data-tooltip);
   opacity : 0;
}

[data-tooltip]:hover:before {        
  opacity : 1;
}